.questionDiv {
  padding: 1em 1em;
}

.question {
  font-family: "Castoro", cursive;
  font-size: 21px;
  font-weight: 700;
}

.options {
  font-family: "Castoro", cursive;
  font-size: 18px;
}

.optionStyling {
  list-style-type: none;
  padding: 0.25em 1em;
}

.option {
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.correctOption {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
  font-weight: bold;
}

.incorrectOption {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
  font-weight: bold;
}

.option:hover {
  background-color: #f0f0f0;
}

.tickIcon {
  font-size: 20px;
  margin-left: 10px;
  color: #28a745;
}

.option,
.correctOption,
.incorrectOption {
  display: flex;
  align-items: center;
}
